body{
  background-color:#E4FDE1;
}
.nav{
    /* position: fixed; */
    list-style:none;
    padding:0;
    text-align:center;
    background-color:#028090;
    border-radius: none;
    top: 0;
    width: 100%;
    left: 0;
}
.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:25px;
    font-size: 30px;
}

li a {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Inconsolata', monospace; */
}

li a:hover {
  background-color:#E4FDE1;
  color: black;
}
  /* END OF NAV BAR STYLING */

.logo{
height:650px ;
width: 650px;
}
footer{
  background-color: #028090 ;
  color:black;
  font-family: 'Roboto Mono', monospace;
}


body{
font-family: Arial, Helvetica, sans-serif;
}
.FoodBanksH2{
  font-size: 25px;
  border:#F4A261 solid;
  border-radius: 30px;
  width: 800px;
  height: 100px;

  
  
}

.p1{
 font-size: 45px; 
 text-align: center;
}


/* GLITCH */
p{
  @import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

	font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 50px;
}

.glitch {
  /* change font size below */
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #E5D0E3, -0.03em -0.04em 0 #456990,
    0.025em 0.04em 0 #F4A261;
  animation: glitch 725ms infinite;
  text-align: center;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #E5D0E3, -0.03em -0.04em 0 #456990,
      0.025em 0.04em 0 #F4A261;
  }
  15% {
    text-shadow: 0.05em 0 0 #E5D0E3, -0.03em -0.04em 0 #456990,
      0.025em 0.04em 0 #F4A261;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #E5D0E3, 0.025em 0.035em 0 #456990,
      -0.05em -0.05em 0 #F4A261;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #E5D0E3, 0.025em 0.035em 0 #456990,
      -0.05em -0.05em 0 #F4A261;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #E5D0E3, 0.03em 0 0 #456990,
      0 -0.04em 0 #F4A261;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #E5D0E3, 0.03em 0 0 #456990,
      0 -0.04em 0 #F4A261;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #456990,
      -0.04em -0.025em 0 #F4A261;
  }
}

/* helps with  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

body{
  /* background:black; */
	font-family: 'Montserrat', sans-serif;

}

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-shadow: 
						8px 8px #456990,
						20px 20px white;
  display: flex;
  /* flex-align: center; */
  justify-content: center;
  align-items: center;
}


